export CI_PROJECT_NAME=regenfrogs
export CI_PROJECT_PATH=boundcorp/regenfrogs
export CI_REGISTRY_IMAGE=registry.gitlab.com/$CI_PROJECT_PATH
export PYTHON_VERSION=3.10
export DEVELOP_BACKEND_PORT=2121
export DEVELOP_FRONTEND_PORT=1212
export DEVELOP_INGRESS_PORT=1122
export KUBE_CLUSTER=gm
export SECRET_KEY=123_development_key
export ROLE=dev
export PATH=$(pwd)/bin:$PATH

export PROJECT_KUBECONFIG=$HOME/.kube/clusters/$KUBE_CLUSTER

if [ -z "$(grep _unencrypted .secrets.env)" ] ; then
 echo "Loading .secrets.env"
 export $(cat .secrets.env | xargs)
else
 echo "Missing sops keys, skipping .secrets.env"
fi

[[ -e .local.env ]] && echo "Loading .local.env" && export $(cat .local.env | xargs)

set +e
VENV=`pipenv --venv`
VENV_CODE=$?
set -e

GIT_PRE_COMMIT_PATH=`realpath bin/precommit`
GIT_PRE_COMMIT_LINK=".git/hooks/pre-commit"

# Warn the user if they have a pre-commit that isn't a symlink to the project's precommit

if [[ -f "$GIT_PRE_COMMIT_LINK" || -L "$GIT_PRE_COMMIT_LINK" ]]; then
    if [[ "$GIT_PRE_COMMIT_PATH" !=  "$(realpath $(readlink "$GIT_PRE_COMMIT_LINK"))" ]]; then
        echo "************** Warning **************"
        echo Found Git pre-commit hook file which doesn\'t point to the default project pre-commit hook file.
        echo Please remove ".git/hooks/pre-commit" file, we will automatically create a symlink to $GIT_PRE_COMMIT_PATH.
        echo "*************************************"
        echo
    fi
else
    ln -s "$GIT_PRE_COMMIT_PATH" $GIT_PRE_COMMIT_LINK
fi

if [ $VENV_CODE -eq 0 ]; then
    echo Activating virtual environment $VENV/bin/activate...
    source $VENV/bin/activate
else
    echo "Looks like you're new here! Running bin/setup.dev..."
    bash bin/setup.dev
    source `pipenv --venv`/bin/activate
fi

