[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
faker = "*"
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
types-requests = "<2.31.0.7"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-cov = "*"

[packages]
django = "~=4.2"
django-environ = "*"
django-cors-headers = "*"
django-memoize = "*"
django-debug-toolbar = "*"
requests = "*"
python-stdnum = "*"
uritemplate = "*"
django-rest-framework = "*"
django-extensions = "*"
django-filter = "*"
psycopg2-binary = "*"
uwsgi = "*"
whitenoise = "*"
six = "*"
premailer = "*"
retrying = "*"
ipython = "*"
phonenumbers = "*"
awesome-slugify = "*"
autoflake = "*"
pycurl = "*"
graphene-django = "*"
graphene-validator = "*"
factory-boy = "*"
django-stubs = "*"
django-fsm = "*"
django-graphql-jwt = "*"
django-q = "*"
django-webpack-loader = "*"
types-python-dateutil = "*"
django-minio-storage = "*"
django-storages = {extras = ["google"], version = "*"}
django-anymail = {extras = ["sendgrid"], version = "*"}
openai = "*"
pillow = "*"
web3 = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
