{{- $apiIsStable := true -}}
apiVersion: {{ include "common.capabilities.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS, PATCH"
  {{- end }}
spec:
  {{- if and $apiIsStable .Values.ingress.ingressClassName }}
  ingressClassName: {{ $.Values.ingress.ingressClassName }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.hostname | quote }}
      http:
        paths:
          - path: /(mgmt|api|dj-static|healthz)(.*)
            pathType: "Prefix"
            backend:
              service:
                name: {{ include "common.names.fullname" $ }}-backend
                port:
                  name: http
          - path: /
            pathType: "Prefix"
            backend:
              service:
                name: {{ include "common.names.fullname" $ }}-frontend
                port:
                  name: http