:80 {
    route /mgmt/* {
        reverse_proxy http://backend:8000
    }
    route /api/* {
        reverse_proxy http://backend:8000
    }
    route /healthz/* {
        reverse_proxy http://backend:8000
    }
    route /dj-static/* {
        reverse_proxy http://backend:8000
    }
    route /regenfrogs-assets/* {
        reverse_proxy http://minio:9000
    }
    route /* {
        reverse_proxy http://frontend:1122
    }
    redir /mgmt /mgmt/
    redir /healthz /healthz/
}
